@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgb(255 255 255 / 0.87);
  background-color: #3d3d3d;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Kalnia-Medium";
  src: url(./assets//fonts//Kalnia/static/Kalnia-Medium.ttf);
}

@font-face {
  font-family: "Kalnia-light";
  src: url(./assets//fonts/Kalnia/static/Kalnia-Light.ttf);
}


@font-face {
  font-family: "Kalnia-regular";
  src: url(./assets//fonts/Kalnia/static/Kalnia-Expanded-Regular.ttf);
}


.kalnia-medium {
  font-family: "Kalnia-Medium", sans-serif;
}

.kalnia-light {
  font-family: "Kalnia-Light";
}

.kalnia-regular {
  font-family: "Kalnia-Regular";
}

.text-shadow {
  text-shadow: 2 px 2 px #000;
}

.text-shadow-p {
  text-shadow: 1 px 1 px #9e9999;
}

.blog-bg {
  background-image: url(https://storage.googleapis.com/portafilo/pexels-luri-2350377.jpg);
  background-size: cover;
}

.footer-bg {
  background: url("") no-repeat;
  background-size: cover;
}

@keyframes slide01 {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
  }
}

.slide01 {
  animation-name: slide;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes bounce01 {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.bounce01 {
  animation-name: bounce;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes pulse01 {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.pulse01 {
  animation-name: pulse;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.wobble01 {
  animation-name: wobble;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes wobble01 {
  0% {
    transform: translateX(0) rotate(0deg);
  }

  15% {
    transform: translateX(-30px) rotate(-5deg);
  }

  30% {
    transform: translateX(15px) rotate(3deg);
  }

  45% {
    transform: translateX(-15px) rotate(-3deg);
  }

  60% {
    transform: translateX(9 px) rotate(2deg);
  }

  75% {
    transform: translateX(-6 px) rotate(-1deg);
  }

  100% {
    transform: translateX(0) rotate(0deg);
  }
}

@-webkit-keyframes slit-in-vertical {
  0% {
    -webkit-transform: translateZ(-800px) rotateY(90deg);
    transform: translateZ(-800px) rotateY(90deg);
    opacity: 0;
  }

  54% {
    -webkit-transform: translateZ(-160px) rotateY(87deg);
    transform: translateZ(-160px) rotateY(87deg);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateZ(0) rotateY(0);
    transform: translateZ(0) rotateY(0);
  }
}

@keyframes slit-in-vertical {
  0% {
    -webkit-transform: translateZ(-800px) rotateY(90deg);
    transform: translateZ(-800px) rotateY(90deg);
    opacity: 0;
  }

  54% {
    -webkit-transform: translateZ(-160px) rotateY(87deg);
    transform: translateZ(-160px) rotateY(87deg);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateZ(0) rotateY(0);
    transform: translateZ(0) rotateY(0);
  }
}

.slit-in-vertical {
  -webkit-animation: slit-in-vertical 0.5s ease-out both;
  animation: slit-in-vertical 1s ease-out both;
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in-top {
  -webkit-animation: slide-in-top 2.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-top 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes fadeInText {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.texto-animado {
  animation: fadeInText 3s ease-out forwards;
}

.texto-animado span {
  display: inline-block;
  transform-origin: bottom;
  animation: fadeInText 5s ease-out infinite;
  opacity: 0;
}

.texto-animado span:nth-child(1) {
  animation-delay: 1s;
}

.texto-animado span:nth-child(2) {
  animation-delay: 1.5s;
}

.texto-animado span:nth-child(3) {
  animation-delay: 2s;
}

.texto-animado span:nth-child(4) {
  animation-delay: 2.5s;
}

.texto-animado span:nth-child(5) {
  animation-delay: 3s;
}

.texto-animado span:nth-child(6) {
  animation-delay: 3.5s;
}

.texto-animado span:nth-child(7) {
  animation-delay: 4s;
}

.texto-animado span:nth-child(8) {
  animation-delay: 4.5s;
}

.texto-animado span:nth-child(9) {
  animation-delay: 5s;
}

.texto-animado span:nth-child(10) {
  animation-delay: 5.5s;
}

.texto-animado span:nth-child(11) {
  animation-delay: 6s;
}

.texto-animado span:nth-child(12) {
  animation-delay: 6.5s;
}

.texto-animado span:nth-child(13) {
  animation-delay: 7s;
}

.texto-animado span:nth-child(14) {
  animation-delay: 7.5s;
}

.texto-animado span:nth-child(15) {
  animation-delay: 4s;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.heartbeat01 {
  -webkit-animation: heartbeat01 1.5s ease-in-out infinite both;
  animation: heartbeat01 1.5s ease-in-out infinite both;
}

@-webkit-keyframes heartbeat01 {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes heartbeat01 {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@-webkit-keyframes vibrate-01 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }

  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }

  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }

  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }

  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }

  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@keyframes vibrate-01 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }

  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }

  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }

  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }

  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }

  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

.vibrate-01 {
  -webkit-animation: vibrate-01 1.3s linear infinite both;
  animation: vibrate-01 2.3s linear infinite both;
}

.float01 {
  transition: 0.5s, color 0.1s;
  -webkit-transition: 0.5s, color 0.1s;
  -moz-transition: 0.5s, color 0.1s;
}

.float01:hover {
  box-shadow: 0 8px 8px 0 #000000, 0 8px 8px 0 #000000;
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  -moz-transform: translate(0px, 5px);
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100wv;
  overflow: hidden;
  z-index: -1;
}

.video {
  width: auto;
  height: 50vw;
  border-radius: 2%;
  background-color: #fff;
  margin: 1vw;
  border: 4 px solid #000;
  box-shadow: 3 px 3 px #797979;
}

.text-app {
  color: #000;
  font-family: kalnia-light;
  font-size: 2vw;
}

.rounded-border-proyect {
  border-radius: 0 25% 0 0;
}

.rounded-border-about {
  border-radius: 0 0% 25% 0%;
}

.rounded-border-about02 {
  border-radius: 0 25% 25% 0%;
}

.transition {
  transition-duration: 550ms;
}

.curso-section {
  color: #000;
  font-family: kalnia-medium;
  font-size: 2vw;
}

.weather-section {
  font-size: 3vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: auto;
  margin-bottom: 2vw;
  color: #4c4c4c;
}

.weather-section p {
  font-size: 3vw;
  border: 1px solid red;
  padding: 2vw;
  border-radius: 100%;
  background-color: #d5d4d4;
  
}

.custom-gradient {
  background: rgb(34, 193, 195);
  background: radial-gradient(
    circle,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
}

.img01 {
  width: 26vw;
}

.tool-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.code-text {
  font-size: large;
}

/*tools section*****************/
@keyframes vibrate-1 {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}

.vibrate-1 {
  animation: vibrate-1 0.3s linear infinite both;
}

.shake {
  animation: shake 1s infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.pulse {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.bounce {
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.heartbeat {
  animation: heartbeat 1s infinite;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.3);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}

.slide {
  animation: slide 1s infinite;
}

@keyframes slide {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px);
  }
}

.flicker {
  animation: flicker 1s infinite;
}

@keyframes flicker {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0.5;
  }
}

.rotate {
  animation: rotate 1s infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.wobble {
  animation: wobble 1s infinite;
}

@keyframes wobble {
  0%,
  100% {
    transform: translateX(0) rotate(0deg);
  }
  15% {
    transform: translateX(-30px) rotate(-5deg);
  }
  30% {
    transform: translateX(15px) rotate(3deg);
  }
  45% {
    transform: translateX(-15px) rotate(-3deg);
  }
  60% {
    transform: translateX(9px) rotate(2deg);
  }
  75% {
    transform: translateX(-6px) rotate(-1deg);
  }
}

.float {
  transition: 0.5s, color 0.1s;
  -webkit-transition: 0.5s, color 0.1s;
  -moz-transition: 0.5s, color 0.1s;
}
.float:hover {
  box-shadow: 0 8px 8px 0 #000000, 0 8px 8px 0 #000000;
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  -moz-transform: translate(0px, 5px);
}

.rotate-3608 {
  transition: 0.5s, color 0.1s;
  -webkit-transition: 0.5s, color 0.1s;
  -moz-transition: 0.5s, color 0.1s;
}
.rotate-3608:hover {
  box-shadow: 0 8px 8px 0 #000000, 0 8px 8px 0 #000000;
  transform: rotateZ(180deg);
  -webkit-transform: rotateZ(180deg);
  -moz-transform: rotateZ(180deg);
}

.rotate-360 {
  transition: 0.5s, color 0.1s;
  -webkit-transition: 0.5s, color 0.1s;
  -moz-transition: 0.5s, color 0.1s;
}
.rotate-360:hover {
  box-shadow: 0 8px 8px 0 #000000, 0 8px 8px 0 #000000;
  transform: rotateZ(360deg);
  -webkit-transform: rotateZ(360deg);
  -moz-transform: rotateZ(360deg);
}

.flex01 {
  transition: 0.5s, color 0.1s;
  -webkit-transition: 0.5s, color 0.1s;
  -moz-transition: 0.5s, color 0.1s;
}
.flex01:hover {
  box-shadow: 0 8px 8px 0 #000000, 0 8px 8px 0 #000000;
  transform: matrix(3, 0.5, 0, 1, 1, 1);
  -webkit-transform: matrix(3, 0.5, 0, 1, 1, 1);
  -moz-transform: matrix(3, 0.5, 0, 1, 1, 1);
}

.transLeft {
  transition: 0.5s, color 0.1s;
  -webkit-transition: 0.5s, color 0.1s;
  -moz-transition: 0.5s, color 0.1s;
}
.transLeft:hover {
  box-shadow: 0 8px 8px 0 #000000, 0 8px 8px 0 #000000;
  transform: translatex(-20px);
  -webkit-transform: translatex(-20px);
  -moz-transform: translatex(-20px);
}

.transRight {
  transition: 0.5s, color 0.1s;
  -webkit-transition: 0.5s, color 0.1s;
  -moz-transition: 0.5s, color 0.1s;
}
.transRight:hover {
  box-shadow: 0 8px 8px 0 #000000, 0 8px 8px 0 #000000;
  transform: translatex(20px);
  -webkit-transform: translatex(20px);
  -moz-transform: translatex(20px);
}

.transUp {
  transition: 0.5s, color 0.1s;
  -webkit-transition: 0.5s, color 0.1s;
  -moz-transition: 0.5s, color 0.1s;
}
.transUp:hover {
  box-shadow: 0 8px 8px 0 #000000, 0 8px 8px 0 #000000;
  transform: translatey(-20px);
  -webkit-transform: translatey(-20px);
  -moz-transform: translatey(-20px);
}

.transDown {
  transition: 0.5s, color 0.1s;
  -webkit-transition: 0.5s, color 0.1s;
  -moz-transition: 0.5s, color 0.1s;
}
.transDown:hover {
  box-shadow: 0 8px 8px 0 #000000, 0 8px 8px 0 #000000;
  transform: translatey(20px);
  -webkit-transform: translatey(20px);
  -moz-transform: translatey(20px);
}

.toStretch {
  transition: 0.5s, color 0.1s;
  -webkit-transition: 0.5s, color 0.1s;
  -moz-transition: 0.5s, color 0.1s;
}
.toStretch:hover {
  box-shadow: 0 8px 8px 0 #000000, 0 8px 8px 0 #000000;
  transform: scale(2, 0.5);
  -webkit-transform: scale(1.2, 0.5);
  -moz-transform: scale(1.2, 0.5);
}

.skew {
  transition: 0.5s, color 0.1s;
  -webkit-transition: 0.5s, color 0.1s;
  -moz-transition: 0.5s, color 0.1s;
}
.skew:hover {
  box-shadow: 0 8px 8px 0 #000000, 0 8px 8px 0 #000000;
  transform: skew(30deg, 20deg);
  -webkit-transform: skew(30deg, 20deg);
  -moz-transform: skew(30deg, 20deg);
}

.skewX {
  transition: 0.5s, color 0.1s;
  -webkit-transition: 0.5s, color 0.1s;
  -moz-transition: 0.5s, color 0.1s;
}
.skewX:hover {
  box-shadow: 0 8px 8px 0 #000000, 0 8px 8px 0 #000000;
  transform: skewX(30deg);
  -webkit-transform: skewX(30deg);
  -moz-transform: skewX(30deg);
}

.skewY {
  transition: 0.5s, color 0.1s;
  -webkit-transition: 0.5s, color 0.1s;
  -moz-transition: 0.5s, color 0.1s;
}
.skewY:hover {
  box-shadow: 0 8px 8px 0 #000000, 0 8px 8px 0 #000000;
  transform: skewY(1.07rad);
  -webkit-transform: skewY(15deg);
  -moz-transform: skewY(15deg);
}

.float-fluid {
  transition: 0.5s, color 0.1s;
  -webkit-transition: 0.5s, color 0.1s;
  -moz-transition: 0.5s, color 0.1s;
}
.float-fluid:hover {
  box-shadow: 0 8px 8px 0 #000000, 0 8px 8px 0 #000000;
  transform: translate3d(12px, 50%, 3em);
  -webkit-transform: translate3d(12px, 50%, 3em);
  -moz-transform: translate3d(12px, 50%, 3em);
}

.grow {
  transition: 0.5s, color 0.1s;
  -webkit-transition: 0.5s, color 0.1s;
  -moz-transition: 0.5s, color 0.1s;
}
.grow:hover {
  box-shadow: 0 8px 8px 0 #000000, 0 8px 8px 0 #000000;
  transform: scale3d(1.5, 1.5, 0.3);
  -webkit-transform: scale3d(1.5, 1.5, 0.3);
  -moz-transform: scale3d(1.5, 1.5, 0.3);
}

.flipUp-360 {
  transition: 0.5s, color 0.1s;
  -webkit-transition: 0.5s, color 0.1s;
  -moz-transition: 0.5s, color 0.1s;
}
.flipUp-360:hover {
  box-shadow: 0 8px 8px 0 #000000, 0 8px 8px 0 #000000;
  transform: rotateX(360deg);
  -webkit-transform: rotateX(360deg);
  -moz-transform: rotateX(360deg);
}

.flipUp-180 {
  transition: 0.5s, color 0.1s;
  -webkit-transition: 0.5s, color 0.1s;
  -moz-transition: 0.5s, color 0.1s;
}
.flipUp-180:hover {
  box-shadow: 0 8px 8px 0 #000000, 0 8px 8px 0 #000000;
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
}

.flipSide-180 {
  transition: 0.5s, color 0.1s;
  -webkit-transition: 0.5s, color 0.1s;
  -moz-transition: 0.5s, color 0.1s;
}
.flipSide-180:hover {
  box-shadow: 0 8px 8px 0 #000000, 0 8px 8px 0 #000000;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

.flipSide-360 {
  transition: 0.5s, color 0.1s;
  -webkit-transition: 0.5s, color 0.1s;
  -moz-transition: 0.5s, color 0.1s;
}
.flipSide-360:hover {
  box-shadow: 0 8px 8px 0 #000000, 0 8px 8px 0 #000000;
  transform: rotateY(360deg);
  -webkit-transform: rotateY(360deg);
  -moz-transform: rotateY(360deg);
}

.shake2:hover {
  box-shadow: 0 8px 8px 0 #000000, 0 8px 8px 0 #000000;
  animation: shake 1s infinite;
}

@keyframes shake2 {
  0%,
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
  10%,
  90% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20%,
  80% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30%,
  70% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40%,
  60% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
}

.bounceShakeX:hover {
  box-shadow: 0 8px 8px 0 #000000, 0 8px 8px 0 #000000;
  animation-name: bounce-shakeX;
  -webkit-animation-name: bounce-shakeX;
  -moz-animation-name: bounce-shakeX;
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
}

@keyframes bounce-shakeX {
  0% {
    transform: translateX(-50%);
  }
  12% {
    transform: translateX(50%);
  }
  24% {
    transform: translateX(-20%);
  }
  36% {
    transform: translateX(20%);
  }
  48% {
    transform: translateX(-10%);
  }
  60% {
    transform: translateX(10%);
  }
  72% {
    transform: translateX(-5%);
  }
  84% {
    transform: translateX(5%);
  }
  96% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(0%);
  }
}

.bounceShakeY:hover {
  box-shadow: 0 8px 8px 0 #000000, 0 8px 8px 0 #000000;
  animation: bounce-shakeY 1s;
}

@keyframes bounce-shakeY {
  0%,
  100% {
    transform: translateY(0);
  }
  12% {
    transform: translateY(50%);
  }
  24% {
    transform: translateY(-20%);
  }
  36% {
    transform: translateY(20%);
  }
  48% {
    transform: translateY(-10%);
  }
  60% {
    transform: translateY(10%);
  }
  72% {
    transform: translateY(-5%);
  }
  84% {
    transform: translateY(5%);
  }
  96% {
    transform: translateY(0);
  }
}

.surprise:hover {
  box-shadow: 0 8px 8px 0 #000000, 0 8px 8px 0 #000000;
  animation: surprise 0.8s;
}

@keyframes surprise {
  0%,
  100% {
    transform: rotate(0deg) scale(1);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: rotate(7deg) scale(2);
  }
  20%,
  40%,
  60%,
  80% {
    transform: rotate(-7deg) scale(2);
  }
}

.jello:hover {
  box-shadow: 0 8px 8px 0 #000000, 0 8px 8px 0 #000000;
  animation: jello 1s;
  transform-origin: center;
}

@keyframes jello {
  from,
  11.1%,
  to {
    transform: translate3d(0, 0, 0);
  }
  22.2% {
    transform: skew(-12.5deg, -12.5deg);
  }
  33.3% {
    transform: skew(6.25deg, 6.25deg);
  }
  44.4% {
    transform: skew(-3.125deg, -3.125deg);
  }
  55.5% {
    transform: skew(1.5625deg, 1.5625deg);
  }
  66.6% {
    transform: skew(-0.78125deg, -0.78125deg);
  }
  77.7% {
    transform: skew(0.390625deg, 0.390625deg);
  }
  88.8% {
    transform: skew(-0.1953125deg, -0.1953125deg);
  }
}

.swing:hover {
  box-shadow: 0 8px 8px 0 #000000, 0 8px 8px 0 #000000;
  animation: swing 1s;
}

@keyframes swing {
  20% {
    transform: rotate3d(0, 0, 1, 15deg);
  }
  40% {
    transform: rotate3d(0, 0, 1, -10deg);
  }
  60% {
    transform: rotate3d(0, 0, 1, 5deg);
  }
  80% {
    transform: rotate3d(0, 0, 1, -5deg);
  }
  to {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}
/*///*/

@media screen and (max-width: 1000px) {
  .tool-section {
    display: flex;
    flex-direction: column;
  }

  .code-text {
    font-size: 3vw;
  }
}

@media screen and (max-width: 510px) {
  .video {
    width: auto;
    height: 80vw;
    border-radius: 2%;
    margin: 1vw;
    border: 1px solid #000;
    box-shadow: 3px 3px #d5d4d4;
  }

  .video-background {
    display: none;
  }

  .text-app {
    color: #000;
    font-family: kalnia-light;
    font-size: 3vw;
  }

  .app-container {
    flex-direction: column;
  }

  .weather-section p {
    font-size: 20px;
    font-family: "Courier New", Courier, monospace;
  }
}
